.buttonLink--button-corp {
    width: 100%;
    background-color: #000;
    color:#b2ff33;
    border-color: #000;
    font-weight: 800;
}
.buttonLink--button-corp:hover {
    background-color: #b2ff33;
    color:#000;
    border-color: #b2ff33;
}

@media only screen and (max-width: 640px) {
    
}